# Local
# AUTH_SERVICE=http://localhost:3336

# JWT Secret. It should be equal to auth service
JWT_SECRET=holacaracola

# Production
AUTH_SERVICE=https://auth.microservices.azr.es

# Database
DB_FILE="./database/app.db"

# PORT
PORT=3335